@model TeacherListViewModel

@{
    ViewBag.Title = "教师列表";
}
<h1>教师列表</h1>
<form asp-action="Index" method="get">

    <div class="form-actions no-color">
        <input type="hidden" name="CurrentPage" value="@Model.Teachers.CurrentPage" />
        <input type="hidden" name="Sorting" value="@Model.Teachers.Sorting" />
        <p>
            请教师姓名: <input type="text" name="FilterText" value="@Model.Teachers.FilterText" />
            <input type="submit" value="查询" class="btn btn-outline-dark" /> |
            <a asp-action="Index">返回所有列表</a>| <a asp-action="Create">
                添加
            </a>
        </p>
    </div>
</form>

<div class="  table-responsive-sm">
        @if (Model.Teachers.Data.Any())
    {
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th scope="col" class="sort-link">
                        <a asp-action="Index"
                           asp-route-Sorting="UserCode" asp-route-CurrentPage="@Model.Teachers.CurrentPage" asp-route-FilterText="@Model.Teachers.FilterText">
                            教师编号
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-Sorting="Name " asp-route-CurrentPage="@Model.Teachers.CurrentPage" asp-route-FilterText="@Model.Teachers.FilterText">
                            教师姓名
                        </a>
                    </th>
                    <th>
                        教师性别
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-Sorting="Age " asp-route-CurrentPage="@Model.Teachers.CurrentPage" asp-route-FilterText="@Model.Teachers.FilterText">
                            教师年龄
                        </a>
                    </th>
                    <th>职称</th>
                    <th>联系方式</th>
                    <th>办公室地址</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Teachers.Data)
                {
                    string selectedRow = "";
                    if (item.Id == Model.SelectedId)
                    {
                        selectedRow = "table-success";
                    }
                <tr class="@selectedRow">
                    <td>@item.UserCode</td>
                    <td>@item.Name</td>
                    <td>@item.UserSex</td>
                    <td>@item.Age</td>
                    <td>@item.Title</td>
                    <td>@item.TeacherPhone</td>
                    <td>@item.Address</td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                            <a asp-controller="Teacher" class="btn btn-info"  asp-action="Details" asp-route-id="@item.Id">查看</a>
                            <a asp-controller="Teacher" asp-action="edit" asp-route-id="@item.Id" class="btn btn-primary m-1">编辑</a>
                            <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                <span>你确定你要删除?</span>
                                <button type="submit" class="btn btn-danger">是</button>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Id', false)">
                                    否
                                </a>
                            </span>
                            <span id="deleteSpan_@item.Id">
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id', true)">删除</a>
                            </span>
                        </form>
                </tr>
                }
            </tbody>
        </table>
    }

    @await Html.PartialAsync("_Pagination", Model.Teachers)
</div>

@section Scripts {
    <script src="~/js/CustomScript.js" asp-append-version="true"></script>
}