@model MockSchoolManagement.ViewModels.HomeDetailsViewModel
@{ ViewBag.Title = "学生详情";
                var photoPath = "~/images/noimage.png";
                if (Model.Student.PhotoPath != null)
                {
                    photoPath = "~/images/avatars/" + Model.Student.PhotoPath;
                } }
<h3>@Model.PageTitle</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>@Model.Student.Name</h3>
            </div>
            <p class="text-center">
                <img class="img-responsive center-block" src="@photoPath" asp-append-version="true" />
            </p>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">学生学号：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.UserCode
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">学生姓名：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.Name
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">学生性别：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.UserSex
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">学生年龄：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.Age
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">所在班级：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.DepartmentName
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">家长姓名：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.ParentName
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">家长联系方式：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.ParentPhoneNo
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">语文成绩：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.ChineseScore
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">数学成绩：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.MathScore
                </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-3 text-right">英语成绩：</label>
                <label class="col-sm-6 text-left">
                    @Model.Student.EnglishScore
                </label>
            </div>
        </div>

        <div class="card-footer text-center">
            <a asp-action="Index" asp-controller="home" class="btn btn-info">返回</a>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
